// Variables
$primary: #42DCA3;
$body-background: rgb(24,21,13);
$hl-parameter: hsl(29, 54%, 61%);
$hl-self: hsl(355, 65%, 65%);
$hl-reserved: hsl(286, 60%, 67%);
$hl-string: hsl(95, 38%, 62%);
$hl-var: hsl(207, 82%, 66%);
$syntax-bg: hsl(220, 13%, 18%);
$syntax-text: hsl(220, 14%, 71%);
