<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YuJa</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/animate.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Lato" rel="stylesheet">


    <!-- Theme CSS -->
    <link href="../assets/css/style.min.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll animated fadeIn" href="#page-top">
                <img src="img/icons/home.png" alt="Home">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-center navbar-main-collapse">

        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll animated fadeInRight" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll animated fadeInRight" href="#resume">resume</a>
                </li>
                <li>
                    <a class="page-scroll animated fadeInRight" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading animated fadeInRight">Jason Liu</h1>
                    <p class="intro-text animated fadeInLeft">University of California, Berkeley
                        <br>Computer Science</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-left">
    <div class="row console">
        <div class="col-lg-10">
            <h2>About Jason</h2>
            <p>>>> Jason.name</p>
            <span>{'Korean': '유승준', 'English': 'Jason Liu', 'Chinese': '劉承俊'}</span>
            <p>>>> Jason.origin</p>
            <span>'Seoul, South Korea'</span>
            <p>>>> Jason.education.school</p>
            <span>'University of California, Berkeley'</span>
            <p>>>> Jason.education.major</p>
            <span>'Computer Science'</span>
            <p>>>> Jason.education.year</p>
            <span>'Junior'</span>
            <p>>>> Jason.interests</p>
            <span>['mindfulness', 'meditation', 'computer science', 'you']</span>
            <div class='second_btn'>
                <a href="#resume" class="btn btn-circle page-scroll text-center">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- resume Section -->
<section id="resume" class="content-section text-center">
    <div class="resume-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Resume</h2>
                <p>To get to know more about my history, check out my resume!</p>
                <a href="https://www.dropbox.com/s/vxys8zhjajacskf/JasonYuProfile.pdf?dl=0"
                   class="btn btn-default btn-lg" target="_blank">Visit resume Page</a>
                <br>
                <a href="#contact" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>
            <p>Ask me anything, or just say hello!</p>
            <ul class="contact-info">
              <li><p><a href="callto:+19256394355"><img src="img/icons/united-states.png" alt=""><span style="direction:rtl; unicode-bidi:bidi-override;">5534-936-529 1+</span></a></p></li>
              <li><p><a href="callto:+821068046166"><img src="img/icons/south-korea.png" alt=""><span style="direction:rtl; unicode-bidi:bidi-override;">6616-4086-010 28+</span></a></p></li>
              <li><p><a href="mailto:yordlejason@gmail.com"><img src="img/icons/email.png" alt=""><span style="direction:rtl; unicode-bidi:bidi-override;">moc.liamg@nosajeldroy</span></a></p></li>
            </ul>
            <ul class="list-inline banner-social-buttons">
                <li><a href="https://www.facebook.com/fruity.yuja" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a></li>
                <li><a href="https://github.com/yordlejason/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                <li><a href="https://www.instagram.com/yu____ja/" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a></li>
            </ul>
        </div>
    </div>

    <!-- ##### EXPERIMENTS ###### -->
    <!-- <div id="disqus_thread"></div>
      <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */

          var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = 'https://yuja.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> -->
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Jason Liu 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src="style/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="style/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- <script id="dsq-count-scr" src="//yuja.disqus.com/count.js" async></script> -->


<!-- Theme JavaScript -->
<script src="style/js/gs.min.js"></script>

</body>

</html>
